.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  background-color: var(--background);
  justify-content: center;
  align-items: center;
  padding: 0.5% 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  width: 360px;
  min-height: 97vh;
  box-shadow: 2px 2px 12px 0px rgba(50, 50, 50, 0.39);
  overflow: hidden;
}

@media(max-width: 900px) {
  .container {
    background-color: white;
    padding: 0;
  }
  .app {
    width: 100vw;
    min-height: 100vh;
    border-radius: 0px;
  }
}